::-webkit-scrollbar{width:5px;height:.25em;position:absolute}
::-webkit-scrollbar-thumb{background-color:#a7adb4}
::-webkit-scrollbar-track{background-color:rgba(0,0,0,0)}

@font-face {
    font-family: 'MerloRoundBold';
    src: url('fonts/MerloRound/Merlo%20Round%20Bold%20%5BTheFontsMaster.com%5D.eot');  /* IE9 Compat Modes */
    src: url('fonts/MerloRound/Merlo%20Round%20Bold%20%5BTheFontsMaster.com%5D.eot?')  format('eot'),  /* IE6-IE8 */
        url('fonts/MerloRound/Merlo%20Round%20Bold.woff2')  format('woff'),  /* Modern Browsers */
        url('fonts/MerloRound/Merlo%20Round%20Bold%20%5BTheFontsMaster.com%5D.ttf')  format('truetype'),  /* Safari, Android, iOS */
        url('fonts/MerloRound/Merlo%20Round%20Bold%20%5BTheFontsMaster.com%5D.svg#svgFontName')  format('svg');  /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MerloRoundMedium';
    src: url('fonts/MerloRound/Merlo%20Round%20Medium%20%5BTheFontsMaster.com%5D.eot');  /* IE9 Compat Modes */
    src: url('fonts/MerloRound/Merlo%20Round%20Medium%20%5BTheFontsMaster.com%5D.eot?')  format('eot'),  /* IE6-IE8 */
    url('fonts/MerloRound/Merlo%20Round%20Medium.woff2')  format('woff'),  /* Modern Browsers */
    url('fonts/MerloRound/Merlo%20Round%20Medium%20%5BTheFontsMaster.com%5D.ttf')  format('truetype'),  /* Safari, Android, iOS */
    url('fonts/MerloRound/Merlo%20Round%20Medium%20%5BTheFontsMaster.com%5D.svg#svgFontName')  format('svg');  /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MerloRound';
    src: url('fonts/MerloRound/Merlo%20Round%20Regular%20%5BTheFontsMaster.com%5D.eot');  /* IE9 Compat Modes */
    src: url('fonts/MerloRound/Merlo%20Round%20Regular%20%5BTheFontsMaster.com%5D.eot?')  format('eot'),  /* IE6-IE8 */
        url('fonts/MerloRound/Merlo%20Round%20Regular.woff2')  format('woff'),  /* Modern Browsers */
        url('fonts/MerloRound/Merlo%20Round%20Regular%20%5BTheFontsMaster.com%5D.ttf')  format('truetype'),  /* Safari, Android, iOS */
        url('fonts/MerloRound/Merlo%20Round%20Regular%20%5BTheFontsMaster.com%5D.svg#svgFontName')  format('svg');  /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

body {
    display: none;
    font-family: MerloRound;
    background: #F6F4ED;
}

body.ng-scope {
    display: block;
}

.page-header {
    border-bottom: none;
}

.page-header h1 {
    font-size: 59px;
    font-family: MerloRoundBold;
}

.page-header p {
    font-size: 18px;
}

.estimate-progress .row > div {
    margin-bottom: 15px;
}

.estimate-progress h3 {
    font-size: 30px;
    font-family: MerloRoundBold;
}

.estimate-progress button {
    font-size: 16px;
    font-family: MerloRoundMedium;
    margin: 10px;
}

.estimate-progress .feature-step {
    font-size: 20px;
    font-family: MerloRoundMedium;
}

.estimate-progress .feature-step label,
.estimate-progress .feature-step .input-group-addon {
    font-size: 16px;
    font-family: MerloRoundMedium;
}

.estimate-progress .feature-step input[type='checkbox'] {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 0;
    top: 7px;
    position: relative;
}

.estimate-progress .other-service-integration {
    max-width: 200px;
    margin: 0 auto;
}

.footer.estimate-result {
    background-color: #4B4B4B;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 250px;
    z-index: 100;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";

    /* IE 5-7 */
    filter: alpha(opacity=95);

    /* Netscape */
    -moz-opacity: 0.95;

    /* Safari 1.x */
    -khtml-opacity: 0.95;

    /* Good browsers */
    opacity: 0.95;

    hr {
        margin: 15px 0;
    }
}

.estimate-result h3 {
    padding: 0;
    margin: 0;
    font-family: MerloRoundMedium;
}

.estimate-result .container {
    max-width: 600px;
    width: auto !important;
    text-align: center;
    font-size: 15px;
    font-family: MerloRoundMedium;
}

.estimate-result .dl-horizontal {
    padding: 0 30px;
    margin: 0;
}

.estimate-result .dl-horizontal dd {
    text-align: right;
}

.estimate-result .dl-horizontal dt, .estimate-result .dl-horizontal dd {
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .estimate-result .dl-horizontal dt {
        width: 170px !important;
    }
}

.estimate-result button {
    font-family: MerloRoundMedium;
    font-size: 16px;
}

.on-off-hub {
    font-size: 20px;
    font-family: MerloRoundMedium;
    top: -5px;
    position: relative;
}

.on-off-hub .switch {
    top: 10px;
    margin: 0 2px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 250px;
}

@media screen and (max-width: 1024px) {
    //body {
    //    margin: 0;
    //}

    .footer.estimate-result {
        position: absolute;
        //height: auto;
    }
}

@media screen and (max-width: 640px) {
    body {
        margin: 0;
    }

    .footer.estimate-result {
        position: relative;
        height: auto;
    }

    .estimate-result dl.dl-horizontal dd, dl.dl-horizontal dt {
        text-align: center !important;
    }

    .page-header h1 {
        font-size: 36px;
    }

    .page-header p {
        font-size: 16px;
    }

    .estimate-progress h3 {
        font-size: 22px;
    }

    .estimate-progress button {
        font-size: 14px;
        display: block;
        margin: 10px auto;
    }

    .estimate-progress .feature-step {
        font-size: 18px;
        text-align: center;
    }

    .estimate-progress .sns-login {
        text-align: left;
        width: 150px;
        margin: 0 auto;
    }

    .on-off-hub {
        font-size: 14px;
        text-align: center;
    }

    .estimate-progress .feature-step label,
    .estimate-progress .feature-step .input-group-addon {
        font-size: 14px;
    }

    .estimate-result h3 {
        font-size: 18px;
    }

    .estimate-result .container {
        font-size: 14px;
    }
}

/*********************** HOOKS STYLES **************************************/

.btn-primary {
    background-color: #7DB1C0;
    border-color: #6B98A6;

    &:focus, &:hover, &:active, &.active {
        background-color: darken(#7DB1C0, 10%);
        border-color: darken(#6B98A6, 10%);
    }
}

.btn-warning {
    background-color: #DE6D2B;
    border-color: #DE6D2B;

    &:focus, &:hover, &:active, &.active {
        background-color: darken(#DE6D2B, 10%);
        border-color: darken(#DE6D2B, 10%);
    }
}

hr {
    border-top-color: #969696;
}

.switch.checked {
    border-color: #7DB1C0;
    background-color: #7DB1C0;
}